.buttons
  width: 100%
  display: flex
  flex-direction: row

  .button
    flex: 1
    margin: 0 8px

    &:first-child
      margin-left: 0

    &:last-child
      margin-right: 0

.button
  font-size: 1em
  font-weight: bold
  border: 1px solid
  border-radius: 4px
  cursor: pointer
  padding: 16px 24px
  transition: all .3s ease-out

.button--yellow
  background-color: $yellow
  border-color: $yellow-dark
  color: $black

  &:hover
    background-color: $yellow-dark
    color: $white

.button--outline
  background-color: $white
  border-color: $blue-dark
  color: $blue-dark

  &:hover
    background-color: $blue
    color: $white

.button--off
  background-color: $gray-dark
  color: black
  opacity: .5
  cursor: not-allowed

@include desktop-only
  .button
    padding: 8px 16px
