.scholarships_list
  .list_header
    display: flex
    flex-direction: row
    justify-content: space-between
    font-weight: bold
    padding: 8px 0

    .list_sort
      text-align: end
      .sort_name
        color: $blue
        padding: 8px 0
        span
          padding-right: 8px

  .list_content
    .list_item
      display: flex
      flex-direction: row
      align-items: center
      border-top: 3px solid $gray-light
      padding: 16px 0
      cursor: pointer

      &:last-child
        border-bottom: 3px solid $gray-light

      .checkbox
        padding: 0 16px

      .item_img
        object-fit: contain
        padding: 0 16px
        min-width: 200px
        max-height: 80px

      .item_info
        padding: 0 16px
        line-height: 1.2em

        .info_course
          display: flex
          flex-direction: column
          padding-bottom: 8px

        .course_name
          font-size: 1.1em
          padding: 8px 0
          font-weight: bold
          color: $blue

      .offer
        font-size: 1.1em
        padding-top: 8px
        p
          margin: 8px 0

        .offer_price
          font-weight: bold
          color: $green

@include desktop-only
  .scholarships_list
    .list_content
      .list_item
        .offer
          text-align: end
          padding-top: 0

  .item_info
    display: flex
    flex-direction: row
    justify-content: space-between
    align-itens: center
    width: 100%

    .info_course
      padding-bottom: 0
