.action_icon
  display: flex
  flex-direction: row
  align-items: center
  justify-content: center
  min-width: 2em
  height: 2em
  border-radius: 100%
  border: 2px $blue-dark solid

.hidden
  display: none
