<template>
  <div class="breadcrumb">
    <div class="breadcrumb_item breadcrumb_item-desktop">
      <span class="item-divider-desktop">/</span>
      <font-awesome-icon icon="chevron-left" class="item-divider-mobile"/>
      <a href="#">Home</a>
    </div>
    <div class="breadcrumb_item">
      <span class="item-divider-desktop">/</span>
      <font-awesome-icon icon="chevron-left" class="item-divider-mobile"/>
      <a href="#">Minha conta</a>
    </div>
    <div class="breadcrumb_item breadcrumb_item-desktop">
      <span class="item-divider-desktop">/</span>
      <font-awesome-icon icon="chevron-left" class="item-divider-mobile"/>
      <a href="#" class="item_active">Bolsas favoritas</a>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Breadcrumb',
};
</script>

<style lang="sass" scoped>
@import '@/styles/variables.sass'
@import '@/styles/breakpoints.sass'

.breadcrumb
  display: flex
  flex-direction: row
  padding-top: 16px
  padding-bottom: 16px

  .breadcrumb_item-desktop
    display: none

  .item-divider-mobile
    color: $blue-dark

  .item-divider-desktop
    display: none

  a
    display: inline-block
    padding: 8px
    color: $blue-dark
    font-weight: bold

@include desktop-only
  .breadcrumb

    .breadcrumb_item
      &:first-child
        .item-divider-desktop
          display: none

        a
          padding-left: 0

    .breadcrumb_item-desktop
      display: inline-block

    .item-divider-mobile
      display: none

    .item-divider-desktop
      display: inline-block

</style>
