<template>
  <ul class="filter" role="tablist">
    <li
      :aria-selected="isSelected('all')"
      @click="sendChangeSemester('all')"
      :class="{
        ['filter_item--active']: isSelected('all')
      }"
      class="filter_item"
      role="tab"
      tabindex="0"
    >
      <span class="item_label">Todos os semestres</span>
    </li>
    <li
      :aria-selected="isSelected('2019.2')"
      @click="sendChangeSemester('2019.2')"
      :class="{
        ['filter_item--active']: isSelected('2019.2')
      }"
      class="filter_item"
      role="tab"
      tabindex="0"
    >
      <span class="item_label">2º semestre de 2019</span>
    </li>
    <li
      :aria-selected="isSelected('2020.1')"
      tabindex="0"
      @click="sendChangeSemester('2020.1')"
      :class="{
        ['filter_item--active']: isSelected('2020.1')
      }"
      role="tab"
      class="filter_item"
    >
      <span class="item_label">1º semestre de 2020</span>
    </li>
  </ul>
</template>

<script>
export default {
  name: 'FilterTabs',
  props: {
    currentSemester: {
      type: String,
    },
  },
  methods: {
    sendChangeSemester(value) {
      this.$emit('changeSemester', value);
    },
    isSelected(value) {
      return this.currentSemester === value;
    },
  },
};
</script>

<style lang="sass" scoped>
@import '@/styles/variables.sass'
@import '@/styles/breakpoints.sass'

.filter
  display: flex
  flex-direction: column
  justify-content: center

  .filter_item
    padding: 16px
    text-align: center
    border: 1px solid $blue-dark
    cursor: pointer
    transition: all .3s ease-out

    &:first-child
      border-top-left-radius: 4px
      border-top-right-radius: 4px

    &:last-child
      border-bottom-left-radius: 4px
      border-bottom-right-radius: 4px

    &:hover
      background-color: $blue-dark

      .item_label
        color: white

    .item_label
      font-weight: bold
      color: $blue-dark

  .filter_item--active
    background-color: $blue-dark

    .item_label
      color: $white

@include desktop-only
  .filter
    flex-direction: row
    justify-content: flex-end
    padding-top: 16px
    padding-bottom: 16px

    .filter_item
      padding: 8px 24px

      &:first-child
        border-bottom-left-radius: 4px
        border-top-right-radius: 0

      &:last-child
        border-bottom-left-radius: 0
        border-top-right-radius: 4px
</style>
