<template>
  <div class="filter_select">
    <select v-model="selectedData" class="select">
      <option value="">Todos</option>
      <option
        v-for="listItem in list"
        :key=listItem
      >
        {{listItem}}
      </option>
    </select>
    <font-awesome-icon icon="chevron-down" class="select_icon"/>
  </div>
</template>

<script>
export default {
  name: 'FilterSelect',
  props: {
    list: {
      type: Array,
    },
    selectedItem: {
      type: String,
    },
  },
  data() {
    return {
      selected: this.selectedItem,
    };
  },
  computed: {
    selectedData: {
      get() {
        return this.selectedItem;
      },
      set(newValue) {
        this.$emit('change', newValue);
      },
    },
  },
};
</script>

<style lang="sass" scoped>
@import '@/styles/variables.sass'
@import '@/styles/breakpoints.sass'

.filter_select
  position: relative

.select
  background: $white
  padding: 16px
  border-radius: 4px
  border: 1px solid $black
  width: 100%
  appearance: none

.select_icon
  color: $black
  position: absolute
  top: 16px
  right: 16px

</style>
