<template>
  <footer class="footer">
    <div class="footer_contacts">
      <ul class="contacts_list">
        <li>
          <a href="#" class="footer_item item_whatsapp">
            <font-awesome-icon :icon="['fab', 'whatsapp']" class="item_icon"/>
            <div class="item_description">
              <span>0800 123 2222</span>
              <span>Segunda a sexta de 8h às 22h</span>
            </div>
          </a>
        </li>
        <li>
          <a href="#" class="footer_item">
            <font-awesome-icon :icon="['far', 'comments']" class="item_icon"/>
            <div class="item_description item_description--mobile">
              <span>Chat</span>
            </div>
            <div class="item_description item_description--desktop">
              <span>Chat ao vivo</span>
              <span>Seg - Sex 8h-22h</span>
            </div>
          </a>
        </li>
        <li>
          <a href="#" class="footer_item">
            <font-awesome-icon :icon="['far', 'envelope']" class="item_icon"/>
            <div class="item_description item_description--mobile">
              <span>E-mail</span>
            </div>
            <div class="item_description item_description--desktop">
              <span>Mande um e-mail</span>
              <span>Respondemos rapidinho</span>
            </div>
          </a>
        </li>
        <li>
          <a href="#" class="footer_item">
            <font-awesome-icon icon="info" class="item_icon"/>
            <div class="item_description item_description--mobile">
              <span>Ajuda</span>
            </div>
            <div class="item_description item_description--desktop">
              <span>Central de ajuda</span>
              <span>Encontre todas as respostas</span>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer_signature">
      <p>
        <span>Feito com</span>
        <font-awesome-icon :icon="['far', 'heart']"/>
        <span>pela Quero Educação</span>
      </p>
    </div>
  </footer>
</template>

<script>
export default {
  name: 'FooterApp',
};
</script>

<style lang="sass" scoped>
@import '@/styles/variables.sass'
@import '@/styles/breakpoints.sass'
@import '@/styles/utilities.sass'


.footer
  width: 100%
  display: flex
  flex-direction: column
  margin-top: 24px

  .footer_contacts
    display: flex
    flex-direction: row
    justify-content: center
    background-color: $blue-dark

  .contacts_list
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    grid-gap: 0
    margin: 0
    width: 100%
    font-size: 1em

    li
      border-right: 2px solid $blue
      &:first-child
        border-bottom: 2px solid $blue
        grid-column: span 3

    .footer_item
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      width: 100%
      height: 100%
      padding: 16px
      color: $white
      font-size: 1em

      &.item_whatsapp
        flex-direction: row

      .item_icon
        color: $white
        min-width: 2em
        height: 2em
        margin: 8px


      .item_description
        display: flex
        flex-direction: column
        font-weight: bold
        margin: 8px

      .item_description--desktop
        display: none

  .footer_signature
    text-align: center
    padding: 16px
    color: $white
    font-weight: bold
    background-color: $blue

@include desktop-only
  .footer
    .contacts_list
      grid-template-columns: 1fr 1fr 1fr 1fr
      grid-gap: 0
      width: 90%

      li
        border: 0
        &:first-child
          grid-column: span 1
          border: 0

      .footer_item
        flex-direction: row

        .item_description--mobile
          display: none

        .item_description--desktop
          display: flex
</style>
