<template>
  <header>
    <section class="header-wrapper">
      <div class="header">
        <div class="header_item header_item--flex">
          <div class="header_action" role="button">
            <div class="action_icon" aria-hidden="true">
              <font-awesome-icon icon="info" />
            </div>
            <span class="action_label action_label-mobile">Ajuda</span>
            <span class="action_label action_label-desktop">
              Como funciona
            </span>
          </div>
          <div class="header_item header_item-desktop">
            <div class="header_whatsapp">
              <font-awesome-icon :icon="['fab', 'whatsapp']" class="whatsapp_icon"/>
              <div class="whatsapp_number">
                <span>0800 123 2222</span>
                <span>Envie mensagem ou ligue</span>
              </div>
            </div>
          </div>
        </div>
        <div class="header_item">
          <div class="header_logo">
            <img class="header_logo-img" src="@/assets/logo.png" alt="Logo da Quero Educação"/>
          </div>
        </div>
        <div class="header_item">
          <div class="header_action" role="button">
            <div class="action_icon" aria-hidden="true">
              <font-awesome-icon icon="user" />
            </div>
            <span class="action_label action_label-mobile">Conta</span>
            <span class="action_label action_label-desktop">
              Safire Lauene
            </span>
          </div>
        </div>
      </div>
    </section>
    <SubHeader/>
  </header>
</template>

<script>
import SubHeader from '@/components/SubHeader';

export default {
  name: 'Header',
  components: {
    SubHeader,
  },
};
</script>

<style lang="sass" scoped>
@import '@/styles/variables.sass'
@import '@/styles/breakpoints.sass'
@import '@/styles/utilities.sass'

.header
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between
  color: $blue-dark

  .header_item
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    padding: 8px 16px

    &:first-child
      width: 100%
      justify-content: flex-start

    &:last-child
      width: 100%
      justify-content: flex-end

  .header_item--flex
    display: flex
    flex-direction: row
    align-items: center

  .header_item-desktop
    display: none

  .header_action
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    cursor: pointer

    .action_label
      display: block
      padding: 4px
      font-weight: bold

    .action_label-mobile
      display: block

    .action_label-desktop
      display: none

  .header_whatsapp
    display: flex
    flex-direction: row
    align-items: center
    padding-left: 16px

    .whatsapp_icon
      color: $green
      min-width: 36px
      height: 36px

    .whatsapp_number
      display: flex
      flex-direction: column
      font-weight: bold
      padding: 8px

  .header_logo
    .header_logo-img
      width: 7em

@include desktop-only
  .header-wrapper
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

  .header
    width: 90%

    .header_item
      min-width: 200px

      &:last-child
        .header_action
          flex-direction: row-reverse

    .header_item-desktop
      display: block

    .header_action
      flex-direction: row

      .action_label
        padding: 8px

      .action_label-mobile
        display: none

      .action_label-desktop
        display: block

    .whatsapp_number
      width: 100%

    .header_logo
      .header_logo-img
          width: 10em
</style>
