<template>
  <main class="container-wrapper">
    <section class="container">
      <Breadcrumb/>

      <h1>Bolsas favoritas</h1>
      <p>Adicione bolsas de cursos e faculdades do seu interesse e receba atualizações
        com as melhores ofertas disponíveis.</p>

      <FilterTabs :currentSemester="currentSemester" @changeSemester="changeSemester"/>

      <div class="card-list">
        <div class="card card_add" role="button" @click="toggleModal">
          <div class="action_icon" aria-hidden="true">
            <font-awesome-icon icon="plus" />
          </div>
          <h3 class="card_title">Adicionar bolsa</h3>
          <p class="card_description">Clique para adicionar bolsas
            de cursos do seu interesse</p>
        </div>
        <div
          class="card card_scholarships"
          role="button"
          v-for="(favoriteScholarship, index) in filteredFavoriteScholarships"
          :key="index"
        >
          <div class="card_header">
            <img
              class="card_img"
              :src="favoriteScholarship.university.logo_url"
              :alt="favoriteScholarship.university.name"
            >
            <p class="card_label--uppercase">{{favoriteScholarship.university.name}}</p>
            <p class="card_label--blue">{{favoriteScholarship.course.name}}</p>
            <div class="score">
              <span class="score_number">
                {{favoriteScholarship.university.score}}
              </span>
              <StarScore :score="favoriteScholarship.university.score"/>
            </div>
          </div>
          <div class="card_content">
            <hr class="card_hr"/>
            <p class="card_label--uppercase">
              <span>{{favoriteScholarship.course.kind}}</span>
              <font-awesome-icon icon="circle" class="label_circle"/>
              <span>{{favoriteScholarship.course.shift}}</span>
            </p>
            <p>
              <span>Início das aulas em: </span>
              <span>{{favoriteScholarship.start_date}}</span>
            </p>
            <hr class="card_hr"/>
            <div class="offer">
              <p class="offer_label">
                Mensalidade com o Quero Bolsa:
              </p>
              <div class="offer_price">
                <del>R$ {{favoriteScholarship.full_price}}</del>
                <div class="price">
                  <span class="price_full">
                    R$ {{favoriteScholarship.price_with_discount}}
                  </span>
                  <span class="period">/mês</span>
                </div>
              </div>
            </div>
          </div>
          <div class="card_footer">
            <div class="card_actions buttons">
              <button
                class="button button--outline"
                @click="removeFavoriteCourse(favoriteScholarship.id)"
              >
                Excluir
              </button>
              <button class="button button--yellow" v-if="favoriteScholarship.enabled">
                Ver oferta
              </button>
              <button class="button button--off" v-else>
                Indisponível
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <Modal
      :isModalOpen="isModalOpen"
      @toggleModal="toggleModal"
    />
  </main>
</template>

<script>
import Breadcrumb from '@/components/Breadcrumb';
import FilterTabs from '@/components/FilterTabs';
import Modal from '@/components/Modal';
import StarScore from '@/components/StarScore';

export default {
  name: 'Main',
  components: {
    Breadcrumb,
    FilterTabs,
    Modal,
    StarScore,
  },
  computed: {
    filteredFavoriteScholarships() {
      const scholarships = this.favoriteScholarships;
      const currentSemester = this.currentSemester;

      return scholarships && scholarships.filter(course => currentSemester === 'all' || course.enrollment_semester === currentSemester);
    },
    scholarships() {
      return this.$store.state.scholarships;
    },
    favoriteScholarships() {
      const favoriteScholarships = this.$store.state.favoriteScholarships;
      const scholarships = this.$store.state.scholarships;

      return scholarships.length &&
        favoriteScholarships.map((scholarshipsId) => {
          const scholarship = {
            ...scholarships[scholarshipsId],
            id: scholarshipsId,
          };

          return scholarship;
        });
    },
  },
  data() {
    return {
      isModalOpen: false,
      currentSemester: 'all',
    };
  },
  methods: {
    toggleModal() {
      this.isModalOpen = !this.isModalOpen;
    },
    getScholarships() {
      // const url = 'https://testapi.io/api/redealumni/scholarships';

      // this.$http.get(url).then((scholarships) => {
      //   this.$store.state.scholarships = scholarships.data;
      // }, (error) => {
      //   // eslint-disable-next-line no-alert
      //   alert(`${error.config.url}: ${error.response.data}`);
      // });
    },
    removeFromLocalStorage(index) {
      const currentCourses = localStorage.getItem('favoriteCourses').split(',');
      const newLocalStorage = currentCourses.filter(courseId => courseId !== `${index}`);

      localStorage.setItem('favoriteCourses', newLocalStorage);
    },
    removeFavoriteCourse(index) {
      this.removeFromLocalStorage(index);
      this.$store.dispatch('removeFavoriteCourse', index);
    },
    changeSemester(semester) {
      this.currentSemester = semester;
    },
  },
  created() {
    this.getScholarships();
  },
};
</script>

<style lang="sass" scoped>
@import '@/styles/variables.sass'
@import '@/styles/breakpoints.sass'
@import '@/styles/utilities.sass'
@import '@/styles/buttons.sass'

.container-wrapper
  background-color: $white

.container
  padding-left: 16px
  padding-right: 16px
  color: $black

.card-list
  display: grid
  grid-template-rows: auto
  grid-gap: 16px
  grid-template-rows: repeat( auto-fit , auto )

.card_add
  cursor: pointer

.card
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  padding: 16px
  background-color: $white-light
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.16)

  .card_header
    width: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

  .card_content
    width: 100%
    height: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    text-align: center

  .card_footer
    width: 100%

  &:hover
    box-shadow: 0 3px 8px 0 rgba(0,0,0,.07)

  .card_img
    margin-top: 16px
    margin-bottom: 16px
    width: 124px
    height: 85px
    object-fit: contain

  .card_title
    margin-top: 8px
    margin-bottom: 8px
    font-size: 1.5em
    font-weight: bold
    text-align: center

  .card_label--uppercase
    margin-top: 8px
    margin-bottom: 8px
    font-size: 1em
    font-weight: bold
    text-transform: uppercase

  .card_label--blue
    margin-top: 8px
    margin-bottom: 8px
    font-size: 1em
    font-weight: bold
    color: $blue-dark

  .card_description
    width: 75%
    margin-top: 8px
    margin-bottom: 8px
    line-height: 1.5em
    text-align: center

  .card_hr
    width: 90%
    height: 3px
    background-color: $black
    opacity: 0.2
    margin-bottom: 16px

  .card_actions
    margin-top: 8px

.offer

  .offer_off
    text-align: center
    width: 84%
    margin-left: 8%
    margin-top: 16px
    margin-bottom: 16px

  .offer_label
    margin-top: 8px
    margin-bottom: 8px
    font-size: 1em
    font-weight: bold

  .offer_price
    display: flex
    flex-direction: column
    align-items: center
    line-height: 1.5em
    margin-top: 16px
    margin-bottom: 16px

    .price
      margin-top: 4px
      margin-bottom: 4px

    .price_full
      font-size: 1.5em
      font-weight: bold
      color: $green

.label_circle
  font-size: 4px
  vertical-align: middle

.score
  display: flex
  flex-direction: row
  align-items: center
  font-size: 1.2em
  margin: 16px

  .score_number
    font-weight: bold

.action_icon
  width: 80px
  height: 80px
  font-size: 28px
  border: 4px $blue solid
  color: $blue
  margin: 16px 0

@include desktop-only
  .container-wrapper
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

  .container
    width: 90%

  .card-list
    justify-items: start
    align-items: start
    grid-template-columns: 24% 24% 24% 24%

    .card
      width: 100%
      height: 100%
      margin: 0
      min-height: 400px
</style>
