<template>
  <section class="modal-overlay" v-if="showModal">
    <div class="modal_wrapper">
      <div class="modal_close">
        <button title="Fechar" class="close_button" @click="closeModal">
          <font-awesome-icon icon="times" class="label_circle"/>
        </button>
      </div>
      <div class="modal">
        <div class="modal_header">
          <h2>Adicionar bolsa</h2>
          <p>Filtre e adicione as bolsas de seu interesse.</p>
        </div>

        <div class="filter">
          <div class="filter_line">
            <div class="filter_set">
              <label class="filter_label--uppercase">Selecione sua cidade</label>
              <FilterSelect
                :list="cities"
                :selectedItem="getSelectedCity"
                @change="updateSelectedCity"
              />
            </div>
            <div class="filter_set">
              <label class="filter_label--uppercase">Selecione o curso de sua preferência</label>
              <FilterSelect
                :list="courseNames"
                :selectedItem="selectedCouseName"
                @change="updateSelectedCouseName"
              />
            </div>
          </div>
          <div class="filter_line">
            <div class="filter_set">
              <label class="filter_label--uppercase">Como você quer estudar?</label>
              <div class="form_checkbox-group">
                <div
                  v-for="(courseType, index) in courseTypes"
                  :key="index"
                >
                  <div class="checkbox">
                    <input
                      :id="courseType.value"
                      type="checkbox"
                      :value="courseType.value"
                      v-model="checkedCourseTypes"
                    >
                    <label :for="courseType.value">{{courseType.label}}</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="filter_set">
              <label class="filter_label--uppercase">Até quanto pode pagar?</label>
              <span>{{maxPrice | currency}}</span>
              <div class="input_range">
                <vue-slider
                  class="range_slider"
                  id="range"
                  :tooltip="'none'"
                  :min="1"
                  :max="10000"
                  v-model="maxPrice"
                ></vue-slider>
              </div>
            </div>
          </div>
        </div>

        <div class="scholarships_list">
          <div class="list_header">
            <span>Resultado:</span>
            <div class="list_sort">
              <span>Ordenar por</span>
              <div class="sort_name">
                <span>Nome da Faculdade</span>
                <font-awesome-icon icon="chevron-down" class=""/>
              </div>
            </div>
          </div>
          <ul class="list_content" role="listbox" v-if="filteredList.length">
            <li
              class="list_item"
              role="option"
              aria-checked="false"
              v-for="(scholarship, index) in filteredList" :key="index"
            >
              <div class="checkbox">
                <input :id=index :value=scholarship.id v-model="checkedCourses" type="checkbox">
              </div>
              <img
                :src="scholarship.university.logo_url"
                :alt="scholarship.university.name"
                class="item_img"
              />
              <div class="item_info">
                <div class="info_course">
                  <span class="course_name">{{scholarship.course.name}}</span>
                  <span class="course_type">{{scholarship.course.level}}</span>
                </div>
                <div class="offer">
                  <p>
                    <span>Bolsa de</span>
                    <span class="offer_price">
                      {{convertToString(scholarship.discount_percentage)}}%
                    </span>
                  </p>
                  <p class="offer_price">
                    R$ {{scholarship.price_with_discount}}/mês
                  </p>
                </div>
              </div>
            </li>
          </ul>
          <div class="list_content" v-else>
            <p class="list_item">
              Nenhum resultado para o filtro selecionado ou
              todos os cursos disponíveis já foram adicionados.
            </p>
          </div>
        </div>

        <div class="modal_footer buttons">
          <button class="button button--outline" @click="closeModal">
            Cancelar
          </button>
          <button
            class="button"
            :class="{
              ['button--yellow']: checkedCourses.length,
              ['button--off'] : !checkedCourses.length
            }"
            @click="addFavoriteCourses">
            Adicionar bolsa(s)
          </button>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
/* global localStorage */
import FilterSelect from '@/components/FilterSelect';
import VueSlider from 'vue-slider-component';
import 'vue-slider-component/theme/default.css';

export default {
  name: 'Modal',
  components: {
    FilterSelect,
    VueSlider,
  },
  props: {
    isModalOpen: {
      type: Boolean,
    },
  },
  data() {
    return {
      checkedCourses: [],
      checkedCourseTypes: [],
      selectedCity: '',
      selectedCouseName: '',
      maxPrice: 10000,
      courseTypes: [{
        label: 'Presencial',
        value: 'presencial',
      }, {
        label: 'A distância',
        value: 'distancia',
      }],
    };
  },
  computed: {
    getCheckedCourseTypes() {
      return this.checkedCourseTypes;
    },
    getSelectedCity() {
      return this.selectedCity;
    },
    showModal() {
      return this.isModalOpen;
    },
    scholarships() {
      return this.$store.state.scholarships;
    },
    cities() {
      const cities = this.$store.state.scholarships
        .map(scholarship => scholarship.campus.city);

      return this.unique(cities);
    },
    courseNames() {
      const courseNames = this.$store.state.scholarships
        .map(scholarship => scholarship.course.name);

      return this.unique(courseNames);
    },
    filteredList() {
      const addedCourses = this.$store.state.favoriteScholarships;
      const selectedCity = this.selectedCity;
      const selectedCouseName = this.selectedCouseName;
      const coursesKind = this.checkedCourseTypes;
      const maxPrice = this.maxPrice;

      return this.sort(this.scholarships.filter((scholarship, index) => {
        const course = scholarship;
        course.id = index;

        const matchAddedCourses =
          addedCourses.length ? !addedCourses.includes(`${course.id}`) : true;

        const matchCity = selectedCity ? selectedCity === scholarship.campus.city : true;

        const matchCouseName =
          selectedCouseName ? selectedCouseName === scholarship.course.name : true;

        const matchCoursesKind =
          coursesKind.length ? coursesKind.includes(scholarship.course.kind) : true;

        const matchMaxPrice = scholarship.price_with_discount <= maxPrice;

        return matchAddedCourses && matchCity && matchCouseName &&
          matchCoursesKind && matchMaxPrice;
      }));
    },
  },
  methods: {
    updateSelectedCity(value) {
      this.selectedCity = value;
    },
    updateSelectedCouseName(value) {
      this.selectedCouseName = value;
    },
    updateCheckedCourses(value) {
      this.checkedCourses = value;
    },
    unique(array) {
      return array.filter((value, index, self) => self.indexOf(value) === index);
    },
    closeModal() {
      this.$emit('toggleModal');
    },
    convertToString(number) {
      return number.toString();
    },
    addCouseIndexToLocalstorage(id) {
      const currentCourses = localStorage.getItem('favoriteCourses');
      const coursesIndex = currentCourses ? `${currentCourses},${id}` : `${id}`;

      localStorage.setItem('favoriteCourses', `${coursesIndex}`);
    },
    addFavoriteCourses() {
      const courses = this.checkedCourses;

      courses.forEach((id) => {
        this.addCouseIndexToLocalstorage(id);
        this.$store.commit('addFavoriteScholarship', id);
      });

      this.closeModal();
    },
    sort(items) {
      return items.sort((a, b) => {
        if (a.course.name < b.course.name) {
          return -1;
        }
        if (a.course.name > b.course.name) {
          return 1;
        }

        return 0;
      });
    },
  },
};
</script>

<style lang="sass">
@import '@/styles/variables.sass'
@import '@/styles/breakpoints.sass'
@import '@/styles/buttons.sass'
@import '@/styles/form.sass'
@import '@/styles/scholarship-list.sass'

.modal-overlay
  width: 100%
  height: 100%
  position: fixed
  top: 0
  left: 0
  background-color: $black-overlay
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center

  .modal_wrapper
    width: 100%
    display: flex
    flex-direction: column
    align-items: center

  .modal_close
    text-align: end
    width: 100%
    .close_button
      color: $white
      background: none
      border: 0
      font-size: 1.5em

  .modal
    width: 100vw
    color: $black
    background-color: $white
    padding: 16px
    max-height: calc( 100vh - 150px )
    overflow: auto

    .modal_header
      padding: 8px 0
      h2, p
        margin: 8px 0


    .filter
      .filter_set
        display: flex
        flex-direction: column
        justify-content: space-between
        padding: 8px 0

        label
          padding: 8px 0

        .filter_label--uppercase
          font-weight: bold
          text-transform: uppercase

      .input_range
        .range_slider
          padding: 16px 0
          width: 100%
          .vue-slider-process
            background-color: $blue


    .modal_footer
      padding-top: 16px
      width: 100%

      .button
        &.button--yellow
          min-width: 60%

@include desktop-only
  .modal-overlay

    .modal-wrapper
      align-items: center

    .modal, .modal_close
      padding: 16px
      width: 70%

      .modal_footer
        &.buttons
          justify-content: flex-end
          .button
            padding: 16px 32px
            flex: none
            &.button--yellow
              min-width: unset

    .filter_line
      display: flex
      flex-direction: row
      justify-content: space-between

      .filter_set
        margin-right: 16px
        width: 100%
        &:last-child
          margin-right: 0

</style>
