<template>
  <div class="score_starts">
    <div class="star" v-for="i in maxScore" :key="i">
      <font-awesome-icon :icon="getStar(i)"/>
    </div>
  </div>
</template>

<script>
export default {
  name: 'StartScore',
  props: {
    score: {
      type: Number,
    },
  },
  data() {
    return {
      maxScore: 5,
    };
  },
  methods: {
    getStar(index) {
      if (this.score < index && this.score > index - 1) {
        return ['fas', 'star-half-alt'];
      } else if (this.score >= index) {
        return ['fas', 'star'];
      }
      return ['far', 'star'];
    },
  },
};
</script>

<style lang="sass" scoped>
@import '@/styles/variables.sass'

.score_starts
  display: flex
  flex-direction: row
  padding-left: 16px
  color: $yellow
</style>
