<template>
  <section class="sub-header-wrapper">
    <div class="sub-header">
      <div class="sub-header-options">
        <a class="option_item" role="button">
          <span class="item_label">Minha Conta</span>
        </a>
        <a class="option_item option_item-desktop" role="button">
          <span class="item_label">Pré-matrícula</span>
        </a>
        <a class="option_item option_item-desktop option_item--active" role="button">
          <span class="item_label">Bolsas favoritas</span>
        </a>
      </div>
      <div class="sub-header_menu">
        <a class="menu_item" role="button">
          <span class="item_label">Menu</span>
          <font-awesome-icon icon="chevron-down" class="item_icon"/>
        </a>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'SubHeader',
};
</script>

<style lang="sass" scoped>
@import '@/styles/variables.sass'
@import '@/styles/breakpoints.sass'

.sub-header-wrapper
  background-color: $blue

.sub-header
  height: 50px
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between

  .sub-header-options
    height: 100%

  .option_item, .menu_item
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    cursor: pointer
    color: $white
    padding: 8px 16px
    font-weight: bold
    height: 100%

  .option_item--active
    background-color: $blue-dark

  .option_item-desktop
    display: none

  .item_icon
    margin-left: 8px

@include desktop-only
  .sub-header-wrapper
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

  .sub-header
    width: 90%

    .sub-header-options
      display: flex
      flex-direction: row
      justify-content: flex-start
      align-items: center

    .sub-header_menu
      display: none

    .option_item-desktop
      display: flex
</style>
