<template>
  <div id="app">
    <Header/>
    <Main/>
    <FooterApp/>
  </div>
</template>

<script>
import Header from '@/components/Header';
import Main from '@/components/Main';
import FooterApp from '@/components/FooterApp';

export default {
  name: 'App',
  components: {
    Header,
    Main,
    FooterApp,
  },
};
</script>

<style lang="sass">
@import '@/styles/base.sass'

#app
  font-family: 'Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
</style>
